nav {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  position: absolute;
  font-family: "Darker Grotesque", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}

.brand {
  height: 100%;
  display: flex;
  font-size: 40px;
  color: #ffffff;
  max-width: 250px;
  text-decoration: none;
  flex-direction: column;
}

.brand p {
  line-height: 45px;
}

.list {
  flex-wrap: 1;
  display: flex;
}

.list li {
  list-style: none;
}

.list li a {
  color: #ffffff;
  font-size: 45px;
  text-decoration: none;
}

@media (min-width: 800px) {
  .brand {
    font-size: 45px;
  }
}
